---
import Layout from '../../layouts/Layout.astro';
import { categoryConfig, type CategoryKey } from '../../data/shopCategories';

export async function getStaticPaths() {
return Object.keys(categoryConfig).map((category) => ({
		params: { category },
	}));
}

const category = Astro.params.category as CategoryKey;
const config = categoryConfig[category];
---
<Layout
title={`${config.title} | Shop Sports Cards`}
description={config.description}
noindex={false}
>
	<h1>{config.title}</h1>
	<p>{config.description}</p>
</Layout>